@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap')
	;

* {
	font-size: 14px;
}

body {
	font-family: 'Poppins', sans-serif;;
	background-color: #f4f4f4;
}

.container-fluid {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1250px;
}

.main-content {
	margin-top: 20px;
}

.row {
	margin: 20px 0 20px 0;
}

#hero {
	padding: 0;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
}

#hero-md-d4 img {
	width: 100%;
}

.carousel-indicators>li {
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 5px;
}

/*
      * SIDE BAR
      */
.customer-sidebar {
	display: inline-block;
	width: 250px;
	padding-right: 20px;
}

.list-group-item {
	background-color: #f4f4f4;
	width: 100%;
	border: none;
}

.list-group-item.active{
	border:none;
	border-bottom : 1px gray solid;
}

.list-group-item>a {
	color: rgb(43, 43, 43);
	text-decoration: none;
}

.list-group-item  i {
	font-size: 18px;
	color: rgb(107, 107, 107);
}

.list-group-item:hover {
	background-color: rgb(230, 230, 230);;
}

.list-group-item  div {
	display: inline-block;
	text-align: center;
	width: 30px;
	margin-right: 20px;
}

.list-group-item.active {
	background-color: rgb(230, 230, 230);
	color: black;
}

/* MAIN PANEL */

main {
	margin-top: 78px;
}
.main-panel {
	position: relative;
	float: right;
	width: calc(100% - 250px);

	background-color: white;
	padding: 20px;
	border-radius: 10x;
}

.dash-separator{
	content: 'sdsd';
	background-image: url("../images/dashline.png");
	background-size: contain;
	background-repeat: repeat-x;
	height: 3px;

}


.transparent {
	background-color: rgba(1,1,1,0);
}

input.readonly:focus {
	outline: none;
}

.form-check.horizon {
	display: inline-block;
	width: 100px;
}

.custom-select {
	display: inline-block;
	width: 100px;
	margin-right: 10px;
}

/* VOUCHER ITEM */

.voucher-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	
}

.voucher-item:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}



.voucher-item>img{
	
	width: 90px;
	margin: 10px;
	
}

.voucher-item>div{
	margin: 15px;
	
}

/* ORDER BOXES */

.flex-row {
	
	justify-content: space-between;
}


.detail-box {
	min-width: 300px;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 10px;
	
}

.detail-box > h6 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.detail-box:last-child {
	margin-right: 0;
}

/* Not found */
.not-found {
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: center;
	align-items: center;
}
.not-found > div {
	margin-top: 20px;
	text-align: center;
}

.not-found > a {
	margin-top: 20px;
	display: block;
	
}





